:root {
    --bg: #f4f6f9;
    --card: #ffffff;
    --text: #000000;
}

body.dark {
    --bg: #121212;
    --card: #1e1e1e;
    --text: #ffffff;
}

body {
    background: var(--bg);
    color: var(--text);
}

.navbar {
    background: #343a40;
    color: white;
}

.card, .metric {
    background: var(--card);
    border-radius: 10px;
    padding: 15px;
}

.metric {
    text-align: center;
}
