:root {
    --bg: #f4f6f9;
    --card: #ffffff;
    --text: #000000;
}

body.dark {
    --bg: #121212;
    --card: #1e1e1e;
    --text: #ffffff;
}

body {
    background-color: var(--bg);
    color: var(--text);
    font-family: Segoe UI, sans-serif;
}

.navbar {
    background-color: #343a40;
    color: white;
}

.card {
    background-color: var(--card);
    border-radius: 12px;
}

.metric-card {
    background-color: var(--card);
    padding: 15px;
    border-radius: 12px;
    text-align: center;
}
