body {
    background-color: #f4f6f9;
    font-family: "Segoe UI", sans-serif;
}

.card {
    border-radius: 12px;
}

.metric-card {
    padding: 20px;
    border-radius: 12px;
    text-align: center;
}

.metric-card h6 {
    opacity: 0.9;
}

.metric-card h3 {
    margin-top: 10px;
    font-weight: bold;
}
