body {
    background-color: #f4f6f9;
    font-family: "Segoe UI", sans-serif;
}


.app-header {
    background: linear-gradient(90deg, #1e3c72, #2a5298);
    color: white;
    padding: 20px 30px;
}

.app-header h3 {
    margin-bottom: 5px;
}

.app-header p {
    margin: 0;
    opacity: 0.9;
}


.panel-card {
    padding: 20px;
    border-radius: 14px;
}


.section-title {
    font-weight: 600;
    margin-bottom: 15px;
}


.metric-card {
    border-radius: 14px;
    padding: 18px;
    color: white;
    text-align: center;
}

.metric-card i {
    font-size: 24px;
    display: block;
}

.metric-card span {
    font-size: 14px;
    opacity: 0.9;
}

.metric-card h4 {
    margin-top: 8px;
    font-weight: bold;
}

.metric-card.blue {
    background: #0d6efd;
}

.metric-card.orange {
    background: #fd7e14;
}

.metric-card.green {
    background: #198754;
}
